.header {
  position: relative;

  margin-top: 7.5rem;

  text-align: center;

  h1 {
    margin-bottom: 1rem;
    line-height: 1.25em;
  }

  &__display {
    margin: 2rem 0;

    .img-box {
      position: relative;

      max-width: 1024px;
      width: 80vw;
      max-height: 450px;
      height: 45vw;

      img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;

        border-radius: 2rem;
        box-shadow: 0 0 10px rgba($black, 0.25);
      }

      a {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
      }

      .shape-svg {
        top: 5%;
        left: 35%;

        width: 125%;
        height: 90%;
      }
    }
  }

  svg {
    position: absolute;
    z-index: -1;

    path {
      fill: rgba($primary-color-details, 0.35);
    }

    circle {
      fill: $primary-color-details;
    }
  }

  .circles-big-svg {
    left: 0;
    top: 25%;
  }

  .circles-small-svg {
    right: 5%;
    top: 45%;
  }
}
